:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  background: #1e1e1e;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  padding: 7.2rem 10.4rem;
}

header h1 {
  color: #02799d;
  font-size: 5.6rem;
  line-height: 7.2rem;
  font-size: 900;
  margin-bottom: 8px;
}

header p {
  color: #e1e1e6;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
  margin-bottom: 7.4rem;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 36.6rem);
  gap: 4.8rem 6rem;
}

.card {
  background: #202024;
  border: 2px solid #323238;
  border-radius: 8px;
  overflow: hidden;
}

.card h2 {
  color: #e1e1e6;
  font-weight: 900;
  font-size: 3.6rem;
  padding: 2.4rem 3.2rem 0;
}

.card p {
  color: #c4c4cc;
  font-weight: 600;
  font-size: 2rem;
  padding: 2.4rem 3.2rem 3.2rem;
}
